.container {
background-color: #1f2937;
height: 650px;

}

.box{
    font-size: 24px;
    color: #f9faf8;
    margin-left: 220px;

}

.text.first{
    margin-block-start: 100px;
    margin-left: 225px;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.text.second{
    margin-left: 227px;
    font-size: 18px;
    color: #E5e7eb
    
}

.button{
    border-radius: 5px;
    color: #f9faf8;
    font-weight: 800;
    background-color: #3882f6;
    border-color: #3882f6;
    padding: 5px 48px;
    margin-block-start: 10px;
    margin-left: 227px
    
    

}

.img{
    
    max-width: 550px;
    margin-left: 795px;
    margin-top: -350px;
    position: relative;
    top: 90px;
    right: 25px;

}

ul{
    
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin-left: 1140px;
    padding-top: 50px;
    margin-block-end: -20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5e7eb
    
}