.container {
background-color: #1f2937;
height: 570px;
width: 11700px;
margin-left: -10px;
margin-top: -20px;

}

.box{
    font-size: 24px;
    color: #f9faf8;
    margin-left: 220px;

}

.text.first{
    margin-block-start: 100px;
    margin-left: 225px;
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.text.second{
    margin-left: 227px;
    font-size: 18px;
    color: #E5e7eb
    
}

.text.third{
    margin-top: -1560px;
    margin-left: 675px;
    font-size: 36px;
    font-weight: 800

}

.text.four{
    margin-top: 310px;
margin-left: 480px;


}

.text.five{
    margin-top: -62px;
    margin-left: 740px;

}

.text.six{
    margin-top: -60px;
    margin-left: 995px;
}

.text.seven{
    margin-top: -60px;
    margin-left: 1250px;
}

.box.one{
    border-style: solid;
    border-radius:20px;
    margin-left: 470px;
    margin-top: -285px;
    height: 190px;
    width: 175px;
    border-color: blue;
}

.box.two{
    border-style: solid;
    border-radius:20px;
    margin-left: 256px;
    margin-top: -5px;
    height: 190px;
    width: 175px;
    border-color: blue;
}

.box.three{
    border-style: solid;
    border-radius:20px;
    margin-left: 254px;
    margin-top: -5px;
    height: 190px;
    width: 175px;
    border-color: blue;
}

.box.four{
    border-style: solid;
    border-radius:20px;
    margin-left: 251px;
    margin-top: -5px;
    height: 190px;
    width: 175px;
    border-color: blue;
}

.box.five{
    margin-top: 380px;
    margin-left: -1300px;
    background-color: #E5e7eb;
    height: 480px;
    width: 10000px;
}

.button{
    border-radius: 5px;
    color: #f9faf8;
    font-weight: 800;
    background-color: #3882f6;
    border-color: #3882f6;
    padding: 5px 48px;
    margin-block-start: 10px;
    margin-left: 227px
    
    

}

.img{
    
    max-width: 550px;
    margin-left: 795px;
    margin-top: -350px;
    position: relative;
    top: 90px;
    right: 25px;

}

.container.second{
    margin-inline-start: 2000px;
    height: 1800px;


}

ul{
    
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin-left: 1140px;
    padding-top: 50px;
    margin-block-end: -20px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5e7eb
    
}